.btn{
    --btn-idle-fill: var(--clr-green-light);
    --btn-active-fill:var(--clr-blue);
    --btn-label-color: var(--clr-light);
    

    /*Reset*/
    font-family: var(--font-base);
    font-size: 18px;
    line-height: 32px;
    background: none;
    border: none;

    /*Style*/
    font-weight: 500;
    padding: 10px 16px;
    border-radius: 5px;
    border: 2px solid var( --btn-idle-fill);
    flex: none;
    cursor: pointer;
}