.category-cards{
    display: flex;
    gap: var(--gap-lg);
    padding: var(--gap-lg);
}
.category-cards .card{
    position: relative;
    
}

.category-cards .card img{
    width: 100%;
    height: auto;
    
}
.category-cards .card .card-text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.blog-cards{
    display: flex;
    gap: var(--gap-lg);
    padding: var(--gap-lg);
}

.blog-cards .card img{
    width: 100%;
    height: auto;
    
}
.blog-cards .card .card-body{
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}