.grid-catalog{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--gap-md);

}

.card-product{
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.swap-on-hover{
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    display: block;
}
.swap-on-hover img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .35s ease, transform .5s ease;
    
}

.swap-on-hover .img-back{
    opacity: 0;

}

.swap-on-hover:hover .img-front{
    opacity: 0;
        transform: scale(1.03);
    
}
.swap-on-hover:hover .img-back{
    opacity: 1;
        transform: scale(1.03);
    
}


.card-product .card-body{
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    
}

.card-product .card-body div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookmark-icon{
   fill: var(--clr-green-white);
   
    
}
.bookmark-icon.active{
    fill: var(--clr-green);
}






