
.page-product-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.carousel-track{
    aspect-ratio: 3/4;  
    width: 100%;
    overflow: hidden;
}
.carousel-track img{
    width: 100%;
    height: 100%;
    object-fit: cover;     
    object-position: center;
    
}
.carousel-product{
    display: flex;
}

.carousel-product button{
    position: relative;
    top: 50%;
    z-index: 10;
    border: none;
    
}
.carousel-product .btn-left{
    left: 40px;
}
.carousel-product .btn-right{
    right: 40px;
}

.title-product{
    display: flex;
    gap: var(--gap-md);
    flex-direction: column;
    
}

.size-panel{
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}
.size-panel .btn{
    border: 3px solid transparent;
    font-weight: 400;
    
}
.size-panel .btn.active{
    border: 2px solid black;
}

.add-to-bag{
    display: flex;
    gap: var(--gap-md);
}
.add-to-bag .btn{
    width: 50%;
    font-weight: 700;
    color: var(--clr-green);
    line-height: 10px;
}


